[2016-02-26 12:13] edgarjcfn opened #4 "Bug in version 0.9.2"
While trying to use sign-apk 0.9.2 we ran into this error:

``/var/[...]/step_src/step.sh: line 42: printf: `D': invalid format character``

We manage to get the build running again by rolling it back to version 0.9.1

[2016-03-02 22:02] birmacher commented on #4
The #5 PR will fix this issue. I'm testing it right now and I'll update this issue when it's released.

[2016-03-02 22:24] birmacher commented on #4
Just released version `0.9.3` that will solve this problem. It will be available in ~10 minutes.
Let us know if you hit any problems with it.

Thanks for the bug report @edgarjcfn!

[2016-03-02 22:24] #4 closed

[2016-03-03 08:58] edgarjcfn commented on #4
Awesome!

[2016-03-14 07:39] alexprice91 opened #7 "Error: Missing required input: keystore_url"
I am getting this error while running the following step:

[code]

[2016-03-14 07:43] viktorbenei commented on #7
The `keystore_url` is a required input of the step - https://github.com/bitrise-steplib/steps-sign-apk/blob/master/step.yml#L26 .

By default it's set to the value `$BITRISEIO_ANDROID_KEYSTORE_URL` - if you upload a Keystore file on bitrise.io (set it to type keystore) it'll assign the URL to this Environment Variable. You can of course change this URL if you store your keystore anywhere else, but

[2016-03-14 07:43] #7 closed

[2016-03-14 13:38] alexprice91 commented on #7
Ah, it's looking for the file. Thank you!

[2016-03-14 13:44] viktorbenei commented on #7
Exactly, can be a file path too, in the format described in the input's description.

[2016-05-23 18:22] erisco opened #11 "jarsigner: key associated with … not a private key"
Step fails with:

[code]

Fails on versions >= 0.9.4, succeeds on versions <0.9.4

[2016-05-23 18:47] viktorbenei commented on #11
Thanks for reporting!

[2016-05-24 08:43] godrei commented on #11
Hi @erisco ,
your keystore alias is `1Upside`?
If yes, then i think your private key password is incorrect.
Check out this [link](http://www.developer.com/java/article.php/10922_3842586_3/Securing-Your-Java-ARchive-JAR-Files.htm) case 3 explains this error and i also can repeat it, if in the step ci, i change the private key password to an incorrect one.

[2016-05-24 15:24] erisco commented on #11
@godrei why do you think the step succeeds on versions <0.9.4 but fails on versions >=0.9.4 if the private key password is incorrect?

[2016-05-24 15:39] godrei commented on #11
I do not know why the previous version worked with incorrect password.

By the way, i googled your error and found more atricles that explaind the possible issue is the incorrect password and i am also able to reproduce it with the same error.

[2016-05-24 17:53] erisco commented on #11
@godrei well then I guess I will continue to use version 0.9.3 indefinitely, because it works.

[2016-05-31 14:59] #11 closed

[2016-06-21 04:31] Jeiwan opened #12 "ERROR: dump failed because no AndroidManifest.xml found"
Hi,
We use "Gradle Runner" step to build an unsigned APK and "Sign APK" step to sign the APK. Then we use "Deploy to Bitrise.io" step. The problem is that the signed APK has no information:

![screenshot 2016-06-21 11 07 45](https://cloud.githubusercontent.com/assets/8029346/16217958/adc65754-37a2-11e6-94a6-45c332cbd262.png)

The unsigned APK is fine, and all the info is there.

Here's what we hav

[2016-06-21 08:34] godrei commented on #12
Hi @Jeiwan ,
thanks for reporting this issue.

We use `jarsigner` too:

[code]

Step also have an input `jarsigner_options`, which makes you able to pass additional options to jarsigner, like: `-sigalg SHA1withRSA -digestalg SHA1`

Which command you use locally to sign your apk?

[2016-06-21 08:54] Jeiwan commented on #12
I downloaded an unsigned APK built by "Gradle Runner" and signed it manually with:
[code]
Produced APK has proper structure and contains AndroidManifest.xml in the root:
![screenshot 2016-06-21 15 44 54](https://cloud.githubusercontent.com/assets/8029346/16223406/514d456c-37c7-11e6-9e9b-07a48177a363.png)

From a previous screenshot you can see that an APK produced by "Sign APK" step has incorrect

[2016-06-21 09:05] godrei commented on #12
Using previous version of step, one of our user reported a signing issue and the only solution was to remove the current sign of the apk (removing the `META-INF` folder) and resign the apk.

`APK already signed removing it...` means that the step founds the `META-INF` folder (the log seens to be misleading/incorrect).

By the way it seens, it was a special case, when removing the `META-INF` folder

[2016-07-01 14:27] godrei commented on #12
Hi @Jeiwan ,
we released a [new version](https://github.com/bitrise-steplib/steps-sign-apk/releases/tag/0.9.8) of the step, can you please take a look on it? it is available in steplib, please let me know, how does it work.

[2016-07-01 23:54] neugartf commented on #12
Sorry for not replying to your emails sooner. The installation works like a charm now. What doesnt work, if you try to update an existing application on you device. The installation wizard asks you if you want to update that app, but fails after that. That should work, if you use the same cert file.

[2016-07-04 02:17] Jeiwan commented on #12
It works now! Thank you!
[code]

[2016-07-04 10:58] godrei commented on #12
@neugartf is there any log, which exlpains why the update fails?

[2016-07-14 11:28] godrei commented on #12
@neugartf i will close this issue, because it seems that the target issue is solved. Please create a new one if you want to.

[2016-07-14 11:28] #12 closed

[2016-08-30 20:30] etsit opened #17 "Password not passed properly?"
My signing step failed on a Bitrise build. But I've never experienced any problems on a Windows machine using the Xamarin (Visual Studio) tooling "Publish Android App...".

My solution is a Xamarin Forms Android application developed in Visual Studio 2015 .

However, after creating a new keystore with a different password, the issue was gone. I got a hint from:
https://forums.xamarin.com/discussio

[2016-08-31 07:48] viktorbenei commented on #17
Thanks for reporting @etsit !

We'll check it ASAP, and fix it if we can find anything.

[2016-09-13 05:03] jpike88 opened #18 "APK not being deployed"
This may be a google-play-deploy bug, but here's the dump. This step doesn't appear to be aligning the apk automatically. My keystore credentials have been tested locally, they are correct.

`+------------------------------------------------------------------------------+
| (4) sign-apk@1.0.1                                                           |
+---------------------------------------------

[2016-09-13 07:39] viktorbenei commented on #18
@godrei pls check this after the CLI release ;)

[2016-09-14 08:57] godrei commented on #18
Hi @jpike88 ,

the `gradle-runner` step exports the generate apk's path into `BITRISE_APK_PATH` env var.
The `sign-apk` step's default value for `apk_path` input is the value is `$BITRISE_APK_PATH`, so the apk which was generated before and it exports the signed apk path into `BITRISE_SIGNED_APK_PATH` env var.
The `google-play-deploy` step's default input for `apk_path` is `BITRISE_APK_PATH` so th

[2016-09-14 10:21] viktorbenei commented on #18
@godrei shouldn't we change this, and expose the APK as `$BITRISE_APK_PATH` ?

[2016-09-14 10:23] viktorbenei commented on #18
@jpike88 can you try the solution @godrei suggested, to see if that helps? In the google play deploy step just set the path to `$BITRISE_SIGNED_APK_PATH` (default is `$BITRISE_APK_PATH` for the path input)

[2016-09-15 02:48] jpike88 commented on #18
Fantastic it worked!

Probably a good idea to have some big red writing regarding this, as I'd imagine there are plenty of people using google play's beta/alpha track, which requires a signed release apk even thought it's not production

[2016-09-15 15:17] godrei commented on #17
Hi @etsit ,
thanks for the report!

With the current version of the step (1.0.1), i can not reproduce this issue.
I tries following password:

- `xx\:x:\xxx"xxx!\xx'x`
- `xxxxxx"xxx!\xx'x`

and both are working.

Which version of the step are you using? Can you please attach the `sign-apk` part of you failed build's log? Can you please suggest me what kind of password should i try to use, to repro

[2016-09-20 08:13] godrei commented on #17
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;v6FhFe8N&#x2F;973-sign-apk-password-issue"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Sign apk password issue</a>

[2016-09-26 09:52] godrei commented on #17
Hi @etsit,
i will close this PR because all tests passes even with special characters, if you can share an example password with us, which handled incorrectly, feel free to reopen this issue.

[2016-09-26 09:52] #17 closed

[2016-10-07 10:44] godrei commented on #18
From v [1.1.0](https://github.com/bitrise-steplib/steps-sign-apk/releases/tag/1.1.0) step export the signed apk path into BITRISE_APK_PATH as well.

[2016-10-07 10:44] #18 closed

[2017-01-30 18:19] rocket-andrew opened #21 "make file name pretty"
now output filename has format
{app}-unsigned-bitrise-signed.apk

it would be better to remove -unsigned part from file name

I believe it must be

`apkBasename := strings.TrimSuffix(apkBasenameWithExt, "-unsigned" + apkExt)`

[2017-01-30 18:58] viktorbenei commented on #21
Closing, migrating to https://discuss.bitrise.io/t/save-only-signed-apks/520

[2017-01-30 19:02] rocket-andrew commented on #21
it is another issue, this one is minor but really filename is ugly right now

[2017-01-30 19:02] viktorbenei commented on #21
Ahh, you're right, re-opened ;)

[2017-04-26 05:39] jpike88 opened #22 "BUILD IS FAILING: Failed to check if apk is signed, error: exit status 1"
Build decided to start failing, and I haven't done anything to make it fail like that

![screen shot 2017-04-26 at 3 39 08 pm](https://cloud.githubusercontent.com/assets/9585787/25419534/8e3b4b5a-2a96-11e7-94d4-41dafab304c1.png)

[2017-05-02 08:44] godrei commented on #22
Hi @jpike88 ,
thanks for the report, we will have a look ASAP!

[2017-05-09 11:55] jpike88 commented on #22
Any results? I really need a solution for this.

[2017-05-09 12:05] viktorbenei commented on #22
@jpike88 we're working on it.

In the meantime, and in general, you can just specify code signing in your Gradle configs and not use this step; that should work 100% of the time as that way it's Gradle which does the signing, just like on your Mac/PC.

[2017-05-09 12:06] viktorbenei commented on #22
If you'd need help with the Gradle config you can find the related docs at http://devcenter.bitrise.io/android/code-signing/

[2017-05-09 13:26] jpike88 commented on #22
After much pain, I've gotten to this point with the other step... very frustrating.

![screen shot 2017-05-09 at 11 27 11 pm](https://cloud.githubusercontent.com/assets/9585787/25853076/d40cfb1a-350e-11e7-8c14-32f22f270d0f.png)

[2017-05-09 13:32] viktorbenei commented on #22
@jpike88 can you please report this at the google play step's issue tracker? Sorry for the inconvenience.

[2017-05-09 13:33] viktorbenei commented on #22
-> https://github.com/bitrise-steplib/steps-google-play-deploy

[2017-05-10 07:18] #22 closed

[2017-05-12 13:03] godrei commented on #21
Hi @rocket-andrew ,
we released a new version ([1.1.2](https://github.com/bitrise-steplib/steps-sign-apk/releases/tag/1.1.2)) of sign-apk step, this version trims the `-unsigned` suffix from apk base name if exist.
Thanks for the issue!

[2017-05-12 13:03] #21 closed

[2018-02-21 20:19] mshearer123 opened #27 "version_code:1 version_name:1.0"
Hi

Wondering if I could get some help.

I believe my apk is being signed correctly, however the signed apk version never changes from 1.

the others (debug) do however.  any help would be great.

[code]

[2018-02-22 14:08] viktorbenei commented on #27
Hi @mshearer123 ,

How do you set/change the version code?

This step (Sign APK) does not change the APK in any way, it only performs signing, so my best guess is that you have another step in your workflow which changes the version code, and maybe you change it on the other APKs but not on the signed one.. I'd suggest you to double check that the steps are in the right order and where you change

[2018-02-23 06:00] mshearer123 commented on #27
Hi @viktorbenei

The version code is set via a gradle runner using a gradle property via
`assembleRelease -PversionCode=$BITRISE_BUILD_NUMBER -PversionName=1.0.$BITRISE_BUILD_NUMBER`

I think i've got it to work by aiming the sign step at the app-release-unsigned.apk rather than app-release.apk.  not sure why two are being produced

thanks for your hints.

[2018-02-23 16:11] viktorbenei commented on #27
Got it, glad to hear it works now! :)

[2018-02-23 16:11] #27 closed

[2018-04-14 14:37] nukec commented on #11
@erisco lulz i know right

[2018-05-08 11:19] xvarlez opened #28 "V2 signature"
Hi,

Are there any plans to introduce support for V2 signing (full APK signature)?
I believe this would require switching from jarsigner to the apksigner tool.

Thanks

[2018-05-09 09:43] trapacska commented on #28
Hey @xvarlez !

Opened a discussion in the team with this question. We'll get back with the answer as soon as we have one! 🙂

[2018-09-10 15:23] sourjam commented on #28
Hey there @trapacska just wanted to follow up and see if there were any updates to switching to apksigner? We're interested in adding that to our bitrise workflow as well. Thanks!

[2018-09-12 11:19] trapacska commented on #28
Hey @sourjam !

It is not under development yet.

[2018-09-12 11:28] xvarlez commented on #28
Hey,

If it can help anyone, I am using this workflow as a workaround for now. You need to setup the code signing configuration for your project on Bitrise under Workflow Editor -> Code signing

**bitrise.yml**
[code]

With the following in **build.gradle**:
[code]

[2018-09-12 14:04] sourjam commented on #28
Thanks for the info @trapacska ! Also, thank you for the alternative @xvarlez !

[2018-10-18 08:21] typebrook opened #34 "Support app bundle"
@godrei @trapacska
Use gradle task `bundleRelease` and filter with `*.aab` can generate app bundle file by [`gradle-runner`](https://github.com/bitrise-io/steps-gradle-runner)

This step also works great on signing app bundle, but output variable $BITRISE_SIGNED_APK_PATH always have extension `.apk`. So I need to add simple script to rename it with extension `.aab`, or [`google-play-deploy`](https

[2018-10-29 09:41] bitce commented on #34
Hi @typebrook,

Sorry for the late reply here, I think you meant to raise this issue [here](https://github.com/bitrise-io/steps-gradle-runner/issues) originally, the repo is called sign-apk because this is the repo of the step of the same name :)

Replacing the .apk to .aab in the include filter input of the Gradle Runner should work however, could you send us a build URL to see what you're experi

[2018-10-29 13:47] typebrook commented on #34
@bitce
Of course, You can study from line 1362.
[e5315f420863a069.log](https://github.com/bitrise-steplib/steps-sign-apk/files/2525425/e5315f420863a069.log) or https://app.bitrise.io/build/e5315f420863a069

Gradle Runner Output is a file with `.aab extension (`$BITRISE_APK_PATH`)
But after signing, steps-sign-apk output is a file with `.apk` extension (`$BITRISE_SIGNED_APK_PATH`)

This cause faili

[2018-10-29 14:54] bitce commented on #34
@typebrook  I see what you mean now.

We have taken note of the issue internally and our tooling team have started investigating it. Sorry for the inconvenience, and thank you very much for reporting!

[2018-10-29 15:05] typebrook commented on #34
Good to hear that, thanks for your reply

[2018-11-02 11:05] yuriymyronovych commented on #28
any chance this can be implemented?

[2018-11-06 10:44] bitce commented on #28
Hi @yuriymyronovych, can you please create a [feature request](https://discuss.bitrise.io/c/feature-request) about it on our discuss? :)

[2018-11-09 15:20] BirmacherAkos commented on #34
Hi @typebrook !

We have released a new version for the step [(1.2.4)](https://github.com/bitrise-steplib/steps-sign-apk/releases/tag/1.2.4) which should fix this issue.

This temporary fix will not change the step's input/output but it will fix the unnecessary `.apk` override in the `$BITRISE_SIGNED_APK_PATH`.

[2018-11-12 05:20] typebrook commented on #34
@bitce @BirmacherAkos
Just made a new bulid with `1.2.4` and works fine, thank you for this great job!
Then this issue should be closed.

[2018-11-12 05:20] #34 closed

[2019-01-22 14:11] bitce commented on #34
@leodeleon22  Can you please share your build URL to us? Preferably on our on-site chat or via e-mail to letsconnect@bitrise.io

[2019-02-21 22:57] RobbWatershed opened #36 "Run zipalign with the "-p" parameter"
Hey guys,

I need to run zipalign with the "-p" option for my build. Could it be possible to add an option (checkbox) to enable it ?

Thanks a lot for your help,
-Robb

[2019-02-25 12:48] fehersanyi-bitrise commented on #36
Hello there!

what do you mean to be exact?
I mean I know what the `zipalign -p file file` stands for
are you not able to run it from a script step?

[2019-02-26 08:47] RobbWatershed commented on #36
Thanks for the quick reply !

To be honest, I'm not comfortable with rewriting all the logic of your step in a custom script step just to add two characters to it.

I thought it would be cleaner and help all the community to have a checkbox in the step settings.

[2019-02-26 12:15] bitce commented on #36
Hi @RobbWatershed!

What @fehersanyi-bitrise was referring to I think, is that you should be able to run this command in a script step after the Sign APK step as well, or is there a specific reason this needs to happen for you during the signing? Let us know!

[2019-02-27 08:30] RobbWatershed commented on #36
Oh, I see what you mean. According to you, if I run zipalign on an APK that has _already_ been zipaligned by the "Sign APK" step, that won't cause any issue ?

[2019-03-04 09:05] fehersanyi-bitrise commented on #36
Hy @RobbWatershed
I don't think it will cause any issue, but the test of the pudding is eating so. I would give it a shot.

[2019-03-25 12:28] marcoRS opened #37 "ApkPath not exist at"
Hello, I cannot figure out how to properly configure the apk path. I have tried the following:

$PROJECT_LOCATION/app⁩/build⁩/⁨outputs⁩/⁨apk⁩/⁨debug⁩/app-debug.apk
$BITRISE_SOURCE_DIR/app⁩/build⁩/⁨outputs⁩/⁨apk⁩/⁨debug⁩/app-debug.apk
./app/build⁩/⁨outputs⁩/⁨apk⁩/⁨debug⁩/app-debug.apk
./MY_PROJECT_FOLDER/app/build⁩/⁨outputs⁩/⁨apk⁩/⁨debug⁩/app-debug.apk
/app/build⁩/⁨outputs⁩/⁨apk⁩/⁨debug⁩/app-debug.

[2019-03-26 11:06] bitce commented on #37
Hi @marcoRS!

As I understand from our on-site chat you've sorted this out by using the `Android Build` step and using the default paths. Is everything up and running then?

[2019-03-26 11:32] marcoRS commented on #37
@bitce Yes that is correct! Thanks.

[2019-05-31 17:15] JayCantyEMoney commented on #37
If you put the following lines in your `Fastfile` somewhere below `gradle(task: 'bundle')` like this;

[code]

You will be able to see where the `.aab` is located and configure the `sign_apk` build step properly.  Incidentally, this was a different path than when I ran` fastlane` locally.

Lastly pass the `BITRISE_APK_PATH` to fastlane `supply`

Summary of workflow:
- `fastlane build .aab`
- `bitr

[2019-06-13 10:12] Frank1234 commented on #17
This password doesn't function when added to the bitrise "secrets", but does work from "code signing":

(Yy6D(kYyV,k4?@hh!_$r4R-KXSM&r%)NR

Is it the dollar sign maybe?

[2019-06-17 12:44] bitce commented on #17
HI @Frank1234! Could you explain what do you experience by it "not working"? I've added these same exact secret and were able to use it, echo it, etc.

[2019-07-08 04:05] ra9r opened #41 "panic: runtime error: invalid memory address or nil pointer dereference"
I'm getting the following error and have no idea where to start fixing this issue ...

Here is the log output...
[code]

[2019-07-17 14:28] Roland-Bak commented on #41
Hello there 👋

Your request has been forwarded to the Tooling Team, who are looking into the issue, and will get back to you as soon as they have something 😉
Thanks for the patience in the meantime 🙂

[2019-07-17 14:29] Roland-Bak commented on #41
Hey there! 👋

Sorry to hear about the issue.
Can you please send us the log file or the URL of the related build and also enable Support Access on the Settings tab of the app ( https://devcenter.bitrise.io/troubleshooting/enabling-bitrise-support-user/ ) so that we can take a more in-depth look? 🙂

[2019-07-22 02:26] ra9r commented on #41
I've enabled support as instructed.  URL is https://app.bitrise.io/app/2851bfed45e285bb#

[2019-07-22 02:27] ra9r commented on #41
NOTE: this issue only occurs when running using the CLI locally.  When running on in the cloud it doesn't occur.

[2019-07-23 13:16] bitce commented on #41
Hi @ra9r!

Have you set the ANDROID_HOME variable? If so can you try to see if that makes a difference?

[2019-12-04 13:18] marianeum opened #45 "Failed to sign Build Artifact using Android build tools 3.6"
We're getting an error when attempting to sign the APK after updating to android gradle build tools 3.6.0-beta04. Downgrading to 3.5 solves the issue, however we are seeing massive build slowdowns with that.

Here's the log/error:
[code]

[2019-12-07 10:44] Roland-Bak commented on #45
Hi there @marianeum , could you please share the complete logfile and enable Support Access for a more extensive look? :)

[2019-12-10 12:04] marianeum commented on #45
Hi - here's a link to a failure, which contains the full logs: https://app.bitrise.io/build/a39194fd1719d142#?tab=log

We've since been able to solve the issue with manually signing the apk via gradle, rather than using this step.

[2020-03-02 11:21] vegeta2102 commented on #45
Is there any update on this issue ?

[2020-03-02 11:50] bitce commented on #45
Hi @vegeta2102!

This issue was sorted out in a direct support thread. In case you are experiencing this issue, please consider reporting it directly to us on the site, or create a separate issue thread. Thanks! :)

[2020-03-13 23:04] DanAlbert opened #48 "incorrect alignment of shared libraries when `extractNativeLibs=false`"
https://github.com/bitrise-steplib/steps-sign-apk/blob/f9367703d4b5c99c114830b5c79bb709780ca207/main.go#L241

4-byte alignment is incorrect for shared libraries in APKs that use https://developer.android.com/guide/topics/manifest/application-element#extractNativeLibs. If that property is set, shared libraries must be page aligned instead.

This bug is starting to affect some developers, as AGP 3.6

[2020-03-16 11:10] bitce commented on #48
Thanks for the report @DanAlbert, can you please include a build URL of the failure this would result in?

[2020-03-16 22:52] iZiMO commented on #36
I second the request to provide an option of setting the `-p` flag.

As of version 3.6 of the Android Gradle plugin the default value for `extractNativeLibs` is now false
https://developer.android.com/studio/releases/gradle-plugin#extractNativeLibs

This requires the APK to be page-aligned too.

We can write a zipalign script to follow up the "Sign APK" step, but I can't figure out a nice way to r

[2020-03-17 22:41] DSteve595 commented on #48
@bitce Build containing an APK affected by this issue: https://app.bitrise.io/build/4e2ceefae101e78a

[2020-03-29 22:52] AlinDev opened #49 "Failed to sign Build Artifact, error: [jarsigner: unable to sign jar: java.util.zip.ZipException: invalid LOC header (bad signature)"
HI, i am having this error :
Failed to sign Build Artifact, error: [jarsigner: unable to sign jar: java.util.zip.ZipException: invalid LOC header (bad signature)

I noticed that you sorted the issue already before, can you lend me a hand?
https://app.bitrise.io/build/2f1a537d0edd48a5#?tab=log
Kind regards,
Alin

[2020-04-03 06:06] bugtsa commented on #49
Hello, I have same error
``` Failed to sign Build Artifact, error: [jarsigner: unable to sign jar: java.util.zip.ZipException: error reading zip file```

https://app.bitrise.io/build/59b7fb8dfea50745#?tab=log

[2020-04-07 12:08] bitce commented on #49
Hi @AlinDev! Can you please enable Support Access for us?

Hi @bugtsa! While very similar, it does not seem like the same issue. Can you please contact us directly about it or open a separate issue thread?

[2020-04-08 12:36] AlinDev commented on #49
Hi,

 I managed to fix it using gradle sign. So for now please close the ticket.
Thank you,
Alin

On Tue, Apr 7, 2020 at 3:08 PM Bence Kubik <notifications@github.com> wrote:

[2020-04-27 18:54] ltovar09 commented on #48
Any progress on this? I'm getting this error with the lastes version 1.4 o this step `/NativeLibraryHelper: Library 'libc++_shared.so' is not page-aligned - will not be able to open it directly from apk.`

[2020-05-04 10:57] non-binary commented on #48
We have a task in our backlog to fix this. We will notify everyone here once it has been fixed.

[2020-05-04 14:19] waah42 commented on #48
We also run into the error when try to run the APK generated by Bitrise Android Sign Step.

The error `"Failure [INSTALL_FAILED_INVALID_APK: Failed to extract native libraries, res=-2]"`

For now we ended up not using the Android Sign Step and sign the APK via Gradle Signing and use the normal `assembleRelease` task in Bitrise build instead.

It was tricky to locate the error because we are using

[2020-05-07 16:35] mariotatis commented on #48
@non-binary thanks for the follow-up, do you have an ETA for the fix? It has become a major blocker for us right now.

[2020-07-07 05:31] CarsonRedeye commented on #45
Could you just post the solution here, rather than forcing us to wait for a support response?

[2020-07-13 13:40] bitce commented on #45
@CarsonRedeye! We're more than happy to share solutions publicly, provided we have them. Investigation takes time for us regardless of the platform the issue was raised in, the reason we prefer direct contact sometimes is this involves a lot of back and forth and occasionally requesting data that is sensitive.

From what I understand, this error message can numerous causes.  What changed in Androi

[2020-07-17 13:49] igorcferreira commented on #48
@non-binary I faced this issue during a deployment of an app, and added a possible fix. I explained a bit better on the PR #50 that I just created, that could help to sort this out for other flows. The solution was tested in the project that I had the problem with.

[2020-07-17 13:58] igorcferreira commented on #36
I faced similar issue regarding native libs, so I wrote a propose to allow users of the step to run zipalign with page align, and created a PR for it (#50). This fixed issues that I was facing on my project.

[2020-07-22 15:19] NFesquet commented on #49
Hi,

Same issue here (initial one, with `invalid LOC header`).
Should I create a separate issue?
Using manual gradle signing is something I'd like to avoid. It would mean a lot of work for us (deal with multiple flavors, integration with fastlane...).
Thanks

[2020-07-24 06:20] bitce commented on #49
Hi @NFesquet,

As of now I understand this can be caused by a number of different reasons and for this the only reliable workaround we know is moving the signing to the build process instead of using the Android Sign step.

For this you need to setup the code signing configuration for your project on Bitrise under Workflow Editor -> Code signing
bitrise.yml:

[code]
With the following in build.gra

[2020-07-24 07:18] NFesquet commented on #49
Hi @bitce,

That's what I wanted to avoid because I can't simply use `assembleRelease` because of multiple flavors. And we have multiple signing keys so I'll have to deal with that too.
Well if it's the only workaround, I'l get into working on the fix.

Thanks for the heads up.

[2020-07-24 09:01] bitce commented on #49
Hi @NFesquet

You may also try disabling  the new packaging tool in the Gradle plugin (https://developer.android.com/studio/releases/gradle-plugin#zipflinger)by adding this line to the `gradle.properties` file

`android.useNewApkCreator=false`

[2020-08-15 16:59] laggedHero commented on #28
Hello all,
I think it is time to revisit this topic. I've just got an interesting error.

`Failed to [REDACTED] APKs: failed to [REDACTED] apk, error: googleapi: Error 403: APK signature is invalid or does not exist. Error from apksigner: ERROR: MIN_SIG_SCHEME_FOR_TARGET_SDK_NOT_MET: Target SDK version 30 requires a minimum of signature scheme v2; the APK is not signed with this or a later signatu

[2020-09-09 21:47] jcoona commented on #28
@laggedHero when you target your app to Android 11, It has to use v2. See here: https://developer.android.com/about/versions/11/behavior-changes-11#minimum-signature-scheme

@trapacska can support be added for this? We won't be able to deploy apps targeting Android 11 anymore.

[2020-09-10 19:50] wpmed92 commented on #49
I'm also having the same issue, ad useNewApkCreator=false doesn't solve it.

[2020-09-11 08:25] bitce commented on #49
Hi @wmped,

For those cases the only option we're aware is the workaround described above unfortunately.

[2020-09-11 08:48] wpmed92 commented on #49
@bitce Luckily the workaround worked, so thank you! :)

[2020-09-16 07:57] lpusok commented on #48
One more update: released a new version of apk-sign step: https://github.com/bitrise-steplib/steps-sign-apk/releases/tag/1.6.0 that automatically adds the `-p` flag if needed.

[2020-09-16 07:57] #48 closed

[2020-09-16 07:58] lpusok commented on #36
Thanks @igorcferreira 🥇
Released a new version of apk-sign step: https://github.com/bitrise-steplib/steps-sign-apk/releases/tag/1.6.0 that automatically adds the `-p` flag if needed.

[2020-09-16 07:58] #36 closed

[2020-09-16 19:28] igorcferreira commented on #28
@jcoona I've made a correction to the step on a fork to unblock one project that we are working on. I've created a PR to, hopefully, have this sorted on the step lib soon. But, if you want to give a try to my config, you can do so by using:

[code]

Unfortunately, the install of JRE 9 before the usage of ApkSignerTool is necessary on the SDK v30. But, this shouldn't delay your build too much.

@tr

[2020-09-21 14:26] ecramer commented on #28
Any update on this?

[2020-09-25 22:28] something15525 commented on #28
Android 11 has released to the public. We've been able to get around the signing issue by generating AAB files for production builds, but for testing builds generated by Bitrise, they are unable to be installed on Android 11 phones. Could we please get an update on when this will be fixed?

[2020-10-01 00:02] jcoona commented on #28
Looks like this issue has been patched in their latest released version on Bitrise

[2020-10-01 08:35] igorcferreira commented on #28
This was fixed on version [1.7.0](https://github.com/bitrise-steplib/steps-sign-apk/tree/1.7.0), where the usage of APKSigner was introduced. If you use the latest version or pin to 1.7.+, you should be able to use this step to sign APKs for Android 11. One important information is to set `use_apk_signer: 'true'` to use the correct signer since this is disabled for retro compatibility.

[2020-10-01 10:30] yasitha999 commented on #28
@igorcferreira How did you upgrade jdk version to 9? Tried below and it doesn't seem to be working.
`- apt-get-install@0:
    inputs:
    - upgrade: 'no'
    - packages: openjdk-9-jre`

[2020-10-01 10:58] igorcferreira commented on #28
@yasitha999 I just added this step. But, keep in mind that this installs only the JRE, not the full JDK. This should be enough for the APKSigner on SDK 30 to work just fine if this step is added before the signer step. What issue are you facing?

[2020-10-01 13:05] yasitha999 commented on #28
Thanks @igorcferreira It worked, I had it a bit higher up in the hierarchy, adding it just before the signer step works.

[2020-10-01 18:12] something15525 commented on #28
Anybody else getting this error when trying to sign:

`Zipalign Build Artifact
=> /opt/[REDACTED]-sdk-linux/build-tools/30.0.0/zipalign "-f" "4" "/tmp/bitrise-sign-build-artifact233445561/unsigned.apk" "/bitrise/deploy/[REDACTED]-app-bitrise-aligned.apk"
Failed to zipalign Build Artifact, error: [
exit status 1]`

[2020-10-01 23:48] yasitha999 commented on #28
Yes @something15525 , I'm getting the same error, I have multiple flavours, the first flavour gets zip aligned and signed properly, but I'm getting this error for the second flavour.

[2020-10-02 05:36] dgoliy commented on #28
Hey folks. I am getting the following message during the apt-get-install step while configuring this:

A stupid question, but what is the route to add to the $PATH and where do I add that? Can't any useful info in the web.

Thanks in advance

[2020-10-02 10:55] moia-balazs opened #58 "Signing process fails using v1.7.1 with having APK Signer enabled and target SDK is set to 30"
**STEPS TO REPRODUCE**

Include the following step in your workflow after the build process of an application which targets SDK 30
[code]

**EXPECTED**

App singing completes since the steps are containing the changes of https://github.com/bitrise-steplib/steps-sign-apk/pull/53.

**ACTUAL**
Signing process fails with:
[code]

**BACKGROUND**
The signing process works with the originally proposed ch

[2020-10-02 11:01] moia-balazs commented on #58
❓ Could this be related to https://github.com/bitrise-steplib/steps-sign-apk/pull/57?

[2020-10-03 15:24] CaptnBlubber commented on #58
More Info:

[code]

[2020-10-05 17:17] something15525 commented on #28
Okay great, so looks like we're having the same issue. I have multiple flavors as well. @igorcferreira any suggestions about how to get around this?

[2020-10-05 22:11] igorcferreira commented on #28
@something15525 @yasitha999 I believe that there is a PR open (#57) to improve the logic of the zipalign, to cover issues in this specific process. Those changes will (most probably) solve this that you are seeing. It would be good to run your project with the step pointing to that specific branch to validate it.

[2020-10-06 17:23] something15525 commented on #28
Sorry, didn't have time to test this out. Looks like the PR was merged, so I'll test it out in the new version.

[2020-10-06 17:52] something15525 commented on #28
No luck unfortunately. I tried with the updated step, and got the same error:

`=> /opt/[REDACTED]-sdk-linux/build-tools/30.0.0/zipalign "-f" "4" "/tmp/bitrise-sign-build-artifact851931559/unsigned.apk" "/bitrise/deploy/[REDACTED]-app-bitrise-aligned.apk"
Failed to zipalign Build Artifact, error: [
exit status 1]`

[2020-10-07 07:20] moia-balazs commented on #58
**UPDATE**: I managed sign our app with **v1.7.2** with APKSigner. However the following requirements/problems occurred:
1. I had to install the whole openjdk-9-jdk in order to run APKSigner. For some reason JRE wasn't enough anymore. Script for others:
[code]
2. The process resulted an insanely huge APK:
 * With v1.7.2 + APKSigner **OFF** + targetSDK 29: **17.56 MB**
 * With v1.7.2 + APKSigner **

[2020-10-07 12:56] ubuntudroid commented on #58
This is affecting us as well. For now I'll downgrade to API 29, but it would be really great if someone from the team could have a look! 🙏

[2020-10-07 15:04] moia-balazs commented on #58
**UPDATE**:

We moved forward with a Google Play upload with the above.

Reason: The `apkanalyzer` actually determined that the final download size will be reduced back to **~18 MB**. This was also confirmed by the Google Play Developer console after the upload.

I hope this helps others too. However, some background info regarding this would be nice. 👍

[2020-10-07 15:19] ubuntudroid commented on #58
... and a fix for the underlying JRE issue would be even better. ;)

[2020-10-07 19:19] something15525 commented on #28
Just a heads up, with the latest version (1.7.2), I had to add a script step, but then it got things working. Here's the script:

`#!/usr/bin/env bash
# fail if any commands fails
set -e
# debug log
set -x

sudo update-alternatives --set javac /usr/lib/jvm/java-11-openjdk-amd64/bin/javac
sudo update-alternatives --set java /usr/lib/jvm/java-11-openjdk-amd64/bin/java
export JAVA_HOME="/usr/lib/jvm/

[2020-10-07 19:22] something15525 commented on #28
The APK size on my app however has jumped from 36 mb to ~130 mb, which is a little ridiculous.

[2020-10-07 19:26] ecramer commented on #28
Likewise on both accounts @something15525
1.7.2 + script worked for me. Mine went from 29MB to 102MB.

[2020-10-08 17:00] igorcferreira commented on #28
@something15525 @ecramer  Could you provide more details about the configuration of the project? Things like:

* Minimum SDK version
* Target SDK version
* Does your app uses NDK or not?
* Is it a debug enabled build?
* Is your project signing the build on Gradle or the assemble outputs an unsigned APK?

I'm asking that because I'm not seeing a massive APK size increase on the apps that I'm signin

[2020-10-08 18:43] mjones-droid commented on #58
Thanks for making us aware of this issue. I have filed a bug report with the devs.

[2020-10-08 19:20] ecramer commented on #28
it definitely appears to be a debug thing. release builds have stayed the same size for the most part.

[2020-10-09 07:11] moia-balazs commented on #58
**UPDATE:**

Based on our latest tests it looks like the initial large size only occurs when signing is executed for debuggable APKs. Actual, non-debuggable `release` APKs will keep the expected, smaller size even after the signing procedure in Bitrise.

[2020-10-12 18:21] something15525 commented on #28
@igorcferreira I'll have some time in a bit to look through this issue, but focusing on other things at the moment. I'm fairly sure that my builds are debuggable, which could be the issue.

[2020-10-14 16:53] mjones-droid commented on #58
We’ve released version 1.7.2 of the Sign APK step which should solve this issue. Please upgrade to the newest step and let us know if you continue to experience issues. Thanks!

[2020-10-14 17:13] moia-balazs commented on #58
Hi @mjones-droid,

Please check my update regarding the experience with 1.7.2 at https://github.com/bitrise-steplib/steps-sign-apk/issues/58#issuecomment-704747126. 🙏

[2020-10-14 17:54] mjones-droid commented on #58
I have reported this back to the dev's. Thanks.

[2020-10-19 11:19] hulkdx commented on #58
Why this requires openjdk-9 ?

[2020-10-19 11:49] moia-balazs commented on #58
See _Considerations_ under https://github.com/bitrise-steplib/steps-sign-apk/pull/53.

[2020-10-19 15:42] mjones-droid commented on #58
Can you try using Java 11 and see if the same problems persist? Instructions here:
https://devcenter.bitrise.io/infrastructure/virtual-machines/#switching-to-java-11

[2020-10-20 05:55] moia-balazs commented on #58
I have similar experience as I had with openjdk-9. (-> Increased initial APK size for both debuggable and non-debuggable builds.)

Do we have any information about that this might be a natural consequence of switching to APKSigner + Targeting SDK 30? 🤔

[2020-10-20 13:39] mjones-droid commented on #58
Can you do a test for me? Please generate two APK's for both your debuggable and non-debuggable builds.

The first should use java 8 targeting api level < 30. The second should use java 11 targeting api level >= 30. Please provide the size of each.

[2020-10-22 16:38] moia-balazs commented on #58
Hi @mjones-droid,

Please see me results below. Although they're not different from what I did before at https://github.com/bitrise-steplib/steps-sign-apk/issues/58#issuecomment-704747126. I used the latest signing-step (**v1.7.2**) for all.

**Debuggable** APK:
* Java 8 + targetSDK 29 + APKSigner OFF = ~18 MB
* Java 11 + targetSDK 29 + APKSigner OFF = ~18 MB
* Java 11 + targetSDK 29 + APKSigner O

[2020-10-22 16:49] mjones-droid commented on #58
Thanks for reporting back. I have passed this on to the developers. I'll let you know when I hear back.

[2020-11-06 14:38] moia-balazs commented on #58
Hi @mjones-droid,

Is there an update from the devs by any chance?

[2020-11-06 17:52] mjones-droid commented on #58
Hey @moia-balazs!

This issue is still under investigation.

Just a quick question that I'd like to follow up with though. I assume the data you presented above is on Bitrise. Are the sizes similar when you sign manually with Android Studio leaving Bitrise out of the equation? If not, then it's possible one of the build parameters we're passing in is causing the issue.

[2020-11-06 18:14] moia-balazs commented on #58
Indeed. I did the tests there.

No, with Android Studio we're not experiencing increase in the size of the APK while targeting SDK 30.

[2020-11-06 18:27] mjones-droid commented on #58
Are you signing from the command line or inside of AS itself?

[2020-11-06 18:34] moia-balazs commented on #58
I've use AS itself for my last test.

[2020-12-07 08:57] Lovrenc commented on #45
When are you planing to fix the signing plugin for gradle build tools v3.6 and onwards?

[2020-12-15 17:04] mateherber commented on #58
Hi @moia-balazs!

Thanks for reporting this issue to us. Can you please try something on the large apks to help isolate the problem?

`zip -F /path/to/large/app.apk --out /path/to/large/test.apk`

And check whether the "fixed" zip's size is still large?

[2020-12-16 08:31] moia-balazs commented on #58
Hi @mateherber!

Thanks for picking up the issue. 🙏

Did the test with a debuggable and a non-debuggable build.

Debuggable:
* Before: ~101,3 MB
* After: ~26,9 MB

Non-debuggable:
* Before: ~32 MB
* After: ~16 MB

So it seems that re-zipping the APK could mitigate the problem. However, I can't confirm that the problem is fully resolved "end2end" just now, because the zipping procedure also clears

[2020-12-16 10:09] mateherber commented on #58
Hi @moia-balazs!

Thank you for trying this out for me. This is not a fix of course I just wanted to verify whether zipping problem causes the issue. I think I could find the culprit: We use `aapt` to remove signing information from the apk if it is present prior to signing. However `aapt` seems to create a corrupt zip file :) I'll try to create an alternative step version that uses standard zip i

[2020-12-16 13:03] mateherber commented on #58
Hi @moia-balazs!

I've deployed some changes that might solve this problem. Can you please try with your use-cases? You can do that by changing `- sign-apk@1:` to `- git::https://github.com/bitrise-steplib/steps-sign-apk.git@STEP-2-large-apk:` in your bitrise yml.

Please check the apk sizes and also whether they can be uploaded to play console (signature is valid).

[2020-12-17 08:35] moia-balazs commented on #58
Hi @mateherber!

I have the results:

**Debug** build before: 96.37 MB
**Debug** build after: 25.62 MB

**Release** build before: 30.40 MB
**Release** build after: 15.26 MB

➕ I was also able to install the new release build over the one which we have in the Play Store at the moment (signed with the current `sign-apk@1.7.2` step). -> That should confirm that the signature matches.

I suppose this

[2020-12-17 08:37] mateherber commented on #58
Hi @moia-balazs!

Thank you for reporting this issue and putting effort to confirming what might be a solution! I'm going to proceed with this solution then and have it released for the next step version.

👍

[2021-01-04 12:34] mateherber commented on #58
Hi @moia-balazs !

Changes have been published to step library with version 1.7.3 it should be visible in couple of minutes. I'm closing the issue, should it not solve the issue, please reopen.

I wish you a Happy New Year 🍾 !

[2021-01-04 14:33] moia-balazs commented on #58
Likewise 🥂 and thanks for the deployment of the new version. 🙏

[2021-01-04 21:28] something15525 commented on #58
@mateherber Unfortunately, it looks like with the new version I'm getting an error when signing:

`Signing 1 Build Artifacts
1/1 signing /bitrise/deploy/[REDACTED]-resident-app-iotas-staging.apk
Signature file (DSA or RSA) found in META-INF, unsigning the build artifact...
=> /usr/bin/zip "-d" "/tmp/bitrise-sign-build-artifact023949582/unsigned.apk" "META-INF/CERT.SF" "META-INF/MANIFEST.MF" "META-

[2021-01-04 21:35] mateherber commented on #58
Hi @something15525 !

Thank you for notifying me of this issue. I'll look into it tomorrow and either find a fix or revert the changes. In the meantime please use the previous version of the step.

[2021-01-06 08:29] mateherber commented on #58
Hi @something15525 ,

I've tried to reproduce the issue with our apps with no luck. I'd like to ask some details to understand your setup.

The buildtype / variant has a `signingConfig` assigned to it in the gradle config or it is unsigned?
Is the build debuggable?

Can you please run a manual signing process mimicking what the step does and tell what is the difference between the two approaches?:

[2021-01-06 14:50] moia-balazs commented on #58
ℹ️ On our end the builds are looking fine too with `1.7.3`. 🤔

[2021-01-09 08:54] RobbWatershed opened #60 "[Question] Apksigner settings and effects"
Hello there,

I'm signing my APK with steps-sign-apk v1.7.3 using :
- Page alignment : automatic
- Apksigner
- APK signature scheme : automatic
- Debuggable APKs : false

Some of my users on various versions of Android are having issues when the app tries to auto-install the APK using `android.content.pm.PackageInstaller`

I tracked down a potential cause of that issue by reading this SO post : ht

[2021-01-14 09:22] WarrenFaith commented on #41
Just wanted to give the feedback that setting ANDROID_HOME solved this issue for me.
Make sure to have it set to the sdk subfolder (basically the same path you have set within Android Studio!)

[2021-01-18 14:26] mateherber commented on #58
Hi!

I'm going to close this ticket yet again. We couldn't reproduce the issue above so for now we'll keep the applied changes. Should the error above occur again so we can get additional information we'll open an other issue.

[2021-01-18 14:26] #58 closed

[2021-02-03 13:48] cathyharmon commented on #60
Hello,

The good thing is that our steps are open source so you can see exactly what each does.  If there is a specific change you need for your particular setup, you can fork the step and modify.

So I discussed with one of our Android specialists and here is some info on the step I hope will be helpful.

If you select **automatic** signature scheme,  `apksigner` decides which schemes to use base

[2021-02-05 08:23] RobbWatershed commented on #60
Alright, that's clear enough to me. Thanks for taking the time to answer 👍

[2021-02-05 08:23] #60 closed

[2021-02-22 14:08] simona-iuliana opened #61 "panic: runtime error: invalid memory address or nil pointer dereference"
![Screenshot 2021-02-22 at 16 08 02](https://user-images.githubusercontent.com/62808255/108719395-2f70df00-7528-11eb-8a5d-f8695adfaeb7.png)

[2021-02-24 15:18] ofalvai commented on #61
Hey @simona-iuliana, can you check if you still have the problem? We did a rollback a few days ago that should fix these kind of issues.

[2021-03-01 13:05] XinyueZ commented on #28
Any update ?

[2021-03-01 15:17] #41 closed

[2021-03-16 17:51] jastorgac opened #63 "failed to create SDK model"
Starting failing this week.

Step version:  1.7.4

<img width="1210" alt="image" src="https://user-images.githubusercontent.com/52761919/111355916-72b4fe00-864d-11eb-955e-9c19407e42cb.png">

[2021-03-17 00:43] matthewtcarter commented on #63
Using Visual Studio for Mac, Stable build stack, I was seeing this problem.

Adding a global, app-level environment variable solved it for me (at least temporarily):

`ANDROID_HOME` = `/Users/vagrant/Library/Developer/Xamarin/android-sdk-macosx`

Note that the latest stable vs4mac stack info log shows error messages regarding `android_home` and other Android tooling:

https://github.com/bitrise-io

[2021-03-17 14:42] developering commented on #63
I fixed this same issue by falling back to the last stable VS for Mac release using this config option:
[code]

Temporary fix, but it got my build unblocked.

Does anyone know if the `ANDROID_HOME` environment variable is a safer approach?

[2021-03-17 21:06] jastorgac commented on #63
This did it for me. I have not tried to fall back to a previous VS for Mac build, but I'll try it too. I already had had some problems with android builds and the target api version.

[2021-03-17 21:06] #63 closed

[2021-04-24 08:25] #49 closed

[2021-04-24 08:25] #45 closed

[2021-04-24 08:25] #37 closed

[2021-04-27 17:59] something15525 commented on #28
Hey there,

I finally had some more time to look at this issue, and with the latest version of the sign-apk step (1.7.4 as of time of writing this), I'm still seeing a failure. Here's the output from the step:

`+------------------------------------------------------------------------------+

| (9) sign-apk@1.7                                                             |
+------------------------

[2021-04-27 18:01] something15525 commented on #28
One more quick thing on this, version 1.7.2 of the step works fine with no errors for me, but generates ~270mb size files.

[2021-05-27 11:26] #61 closed

[2021-06-02 10:59] a-abramov commented on #28
Any updates?

[2021-07-14 15:37] balazsmaria opened #70 "UnsupportedClassVersionError: com/android/apksigner/ApkSignerTool has been compiled by a more recent version of the Java Runtime (class file version 53.0), this version of the Java Runtime only recognizes class file versions up to 52.0"
Just created a new Flutter app. I wanted to sign the generatedd apk then I got this error message.
Not clear where to define the correct versions or why the plugin does not recognize them.

[code]

[2021-07-14 15:55] #70 closed

[2021-07-14 15:56] balazsmaria commented on #70
Found the config. You have to add a manual script step to change the jre version.

[2021-07-28 19:14] loopyzort commented on #28
I am also having the same issue as @something15525 using 1.7.5, but it's happening with our production releases which are not debuggable (though we have debuggable permitted enabled for this step in bitrise). I think in order to continue using bitrise to build our app releases (now that Google is requiring we target API 30 and use V2 signing), we'll have to stop using this step and sign with gradl

[2021-08-02 13:17] mateherber opened #71 "Resigning apk fails in some cases"
### Troubleshooting

- [✔️] I've searched [discuss.bitrise.io](https://discuss.bitrise.io/) for possible solutions.
- Which version of the step is effected? 1.7.X
- Is the issue reproducible with the latest version? YES
- Does the issue happen sporadically, or every time? SPORADIC
- Is the issue reproducible locally by following our [local debug guide](https://devcenter.bitrise.io/troubleshooting/

[2021-08-02 13:21] mateherber commented on #28
Closing this issue as the title is no longer applicable to later reported issues. V2 signature is already supported via apksigner, introduced in #54. The step has a bug which prevents zipalign in some cases using the apksigner tool. I opened a new issue, #71 and linked all relevant information.

[2021-08-02 13:21] #28 closed

[2021-08-05 08:59] #71 closed

[2021-08-05 09:32] mateherber commented on #71
This solves hopefully the reported `apk` signing (zipalign failure) issues. @something15525 and @loopyzort it would be stellar if you could verify whether this step version resolves those issues.

[2022-07-11 07:50] ZioCain opened #82 "Cannot upload signed AAB to play store"
### Troubleshooting

- [x] I've searched [discuss.bitrise.io](https://discuss.bitrise.io/) for possible solutions.
- Which version of the step is effected? 1.7.X
- Is the issue reproducible with the latest version? YES
- Does the issue happen sporadically, or every time? EVERY TIME
- Is the issue reproducible locally by following our [local debug guide](https://devcenter.bitrise.io/troubleshooting

[2022-07-14 13:57] ofalvai commented on #82
@ZioCain can you also share the Google Play error message with us? We haven't seen errors caused by the zipalign phase, but this could be a new validation on Play Store's end.

[2022-07-21 13:09] ZioCain commented on #82
Sorry for the delay, I was trying to understand what could be a possible solution.

It looks like the only difference between a bundle that can be uploaded to the store and one that can't is the sigalg:
- SHA256withRSA is not working
- SHA1withRSA works

But there's no such option in the step to decide what to use.

[2022-11-10 15:41] mendozamiche opened #84 "sign-apk fails at Verify Build Artifact step"
### Troubleshooting
- [x] I've searched [discuss.bitrise.io](https://discuss.bitrise.io/) for possible solutions.
- Which version of the step is effected? 1.7.9
- Is the issue reproducible with the latest version? YES
- Does the issue happen sporadically, or every time? EVERY TIME
- Is the issue reproducible locally by following our [local debug guide](https://devcenter.bitrise.io/troubleshooting/

[2022-11-11 08:06] #82 closed

[2022-11-18 19:37] jasonshaev commented on #84
We are having the same problem, it seems to have started recently. Has anyone found a solution or workaround?